In [ ]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 시카고 포트홀 데이터

## I.데이터 불러오기

### Google Mount를 통한 데이터 불러오기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
DF = pd.read_csv('/content/drive/My Drive/Colab Notebooks/datasets/weather/311_Service_Requests_-_Pot_Holes_Reported_-_Historical.csv')

## II.데이터 정보 확인 및 필요한 행과 열 추출

### 1)56만개 데이터 확인 및 null 값 없음을 확인

In [ ]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560478 entries, 0 to 560477
Data columns (total 19 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   CREATION DATE                       560478 non-null  object
 1   STATUS                              560478 non-null  object
 2   COMPLETION DATE                     553130 non-null  object
 3   SERVICE REQUEST NUMBER              560478 non-null  object
 4   TYPE OF SERVICE REQUEST             560478 non-null  object
 5   CURRENT ACTIVITY                    393609 non-null  object
 6   MOST RECENT ACTION                  391992 non-null  object
 7   NUMBER OF POTHOLES FILLED ON BLOCK  399143 non-null  float64
 8   STREET ADDRESS                      560476 non-null  object
 9   ZIP                                 558160 non-null  float64
 10  X COORDINATE                        560004 non-null  float64
 11  Y COORDINATE                        560004 non-null  float64
 12  Ward                                560145 non-null  float64
 13  Police District                     560144 non-null  float64
 14  Community Area                      560145 non-null  float64
 15  SSA                                 87611 non-null   float64
 16  LATITUDE                            559602 non-null  float64
 17  LONGITUDE                           559602 non-null  float64
 18  LOCATION                            559602 non-null  object
dtypes: float64(10), object(9)
memory usage: 81.2+ MB

In [ ]:
DF

,CREATION DATE,STATUS,COMPLETION DATE,SERVICE REQUEST NUMBER,TYPE OF SERVICE REQUEST,CURRENT ACTIVITY,MOST RECENT ACTION,NUMBER OF POTHOLES FILLED ON BLOCK,STREET ADDRESS,ZIP,X COORDINATE,Y COORDINATE,Ward,Police District,Community Area,SSA,LATITUDE,LONGITUDE,LOCATION
0,03/11/2014,Completed - Dup,04/20/2015,14-00343939,Pothole in Street,NaN,NaN,NaN,400 S AUSTIN BLVD,NaN,1.136454e+06,1.897424e+06,0.0,0.0,0.0,NaN,41.874650,-87.774615,"(41.874649785127, -87.774614950226)"
1,08/05/2018,Open,NaN,18-02306504,Pothole in Street,NaN,NaN,NaN,3921 W 77TH ST,60652.0,1.151404e+06,1.853111e+06,18.0,8.0,70.0,NaN,41.752697,-87.721288,"(41.752696566048, -87.721287716596)"
2,07/18/2018,Open,NaN,18-02134465,Pothole in Street,NaN,NaN,NaN,6030 N PETERSON AV EDENS XR,60646.0,1.142563e+06,1.939575e+06,39.0,16.0,12.0,NaN,NaN,NaN,NaN
3,11/26/2018,Open - Dup,NaN,18-03231860,Pothole in Street,NaN,NaN,NaN,5202 N LAKE SHORE DR SB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.976672,-87.650814,"(41.976671733589, -87.650813515591)"
4,04/26/2018,Completed,04/30/2018,18-01332777,Pothole in Street,Final Outcome,Pothole Patched,10.0,1500 N LUIS MUNOZ MARIN DR,60622.0,1.154972e+06,1.909808e+06,26.0,14.0,24.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560473,01/16/2014,Completed,01/16/2014,14-00078504,Pot Hole in Street,Final Outcome,Pothole Patched,8.0,600 W LAWRENCE DR,60640.0,1.171226e+06,1.932285e+06,48.0,20.0,3.0,NaN,41.969761,-87.645873,"(41.969760902199, -87.645873414024)"
560474,04/08/2011,Completed,04/08/2011,11-00692408,Pot Hole in Street,Dispatch Crew,Pothole Patched,4.0,300 N COLUMBUS DR,60601.0,1.178296e+06,1.902193e+06,42.0,1.0,32.0,NaN,41.886973,-87.620848,"(41.886973200874, -87.620848332588)"
560475,02/13/2015,Completed,02/13/2015,15-00278010,Pothole in Street,Final Outcome,Pothole Patched,2.0,1200 N SB OUTER LAKE SHORE DR,60610.0,1.177169e+06,1.908428e+06,43.0,18.0,8.0,NaN,41.904077,-87.624804,"(41.904076743028, -87.624803937073)"
560476,03/17/2014,Completed,04/17/2014,14-00378244,Pothole in Street,Final Outcome,Completed Upon Arrival,0.0,6338 N LAKEWOOD AVE,60660.0,1.166464e+06,1.942226e+06,40.0,24.0,77.0,26.0,41.997504,-87.663152,"(41.997504454481, -87.663152299196)"
560477,07/05/2015,Completed,09/18/2015,15-03198265,Pothole in Street,Final Outcome,Pothole Patched,1.0,2527 W HADDON AVE,60622.0,1.159347e+06,1.907556e+06,1.0,12.0,24.0,NaN,41.901943,-87.690582,"(41.901943031763, -87.690581776699)"

### 2)필요한 행열 확인 및 추출

- 행 확인

In [ ]:
DF.columns

Index(['CREATION DATE', 'STATUS', 'COMPLETION DATE', 'SERVICE REQUEST NUMBER',
       'TYPE OF SERVICE REQUEST', 'CURRENT ACTIVITY', 'MOST RECENT ACTION',
       'NUMBER OF POTHOLES FILLED ON BLOCK', 'STREET ADDRESS', 'ZIP',
       'X COORDINATE', 'Y COORDINATE', 'Ward', 'Police District',
       'Community Area', 'SSA', 'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

- 필요한 열만 추출

In [ ]:
DF1 = DF.iloc[:,[0,1, 7, 6]]
DF1

,CREATION DATE,STATUS,NUMBER OF POTHOLES FILLED ON BLOCK,MOST RECENT ACTION
0,03/11/2014,Completed - Dup,NaN,NaN
1,08/05/2018,Open,NaN,NaN
2,07/18/2018,Open,NaN,NaN
3,11/26/2018,Open - Dup,NaN,NaN
4,04/26/2018,Completed,10.0,Pothole Patched
...,...,...,...,...
560473,01/16/2014,Completed,8.0,Pothole Patched
560474,04/08/2011,Completed,4.0,Pothole Patched
560475,02/13/2015,Completed,2.0,Pothole Patched
560476,03/17/2014,Completed,0.0,Completed Upon Arrival
560477,07/05/2015,Completed,1.0,Pothole Patched

- 행 확인을 위해 날짜 표현 방식 바꾸고 순서대로 나열

In [ ]:
DF1['CREATION DATE'] = pd.to_datetime(DF['CREATION DATE'])
DF1.sort_values(by=['CREATION DATE'], inplace = True, ascending = True)
DF1

,CREATION DATE,STATUS,NUMBER OF POTHOLES FILLED ON BLOCK,MOST RECENT ACTION
364840,2009-01-12,Completed,33.0,Pothole Patched
328175,2009-06-17,Completed,NaN,Pothole Patched
328748,2009-08-27,Completed,80.0,No Problem Found
466391,2010-02-26,Completed,NaN,NaN
194619,2010-03-11,Completed,5.0,Pothole Patched
...,...,...,...,...
367913,2018-12-18,Open,NaN,NaN
246130,2018-12-18,Open,NaN,NaN
243240,2018-12-18,Open,NaN,NaN
239436,2018-12-18,Open,NaN,NaN
286385,2018-12-18,Open,NaN,NaN

- 행 확인

In [ ]:
DF1['CREATION DATE']

364840   2009-01-12
328175   2009-06-17
328748   2009-08-27
466391   2010-02-26
194619   2010-03-11
            ...
367913   2018-12-18
246130   2018-12-18
243240   2018-12-18
239436   2018-12-18
286385   2018-12-18
Name: CREATION DATE, Length: 560478, dtype: datetime64[ns]

- 2011년도부터 행 추출

In [ ]:
DF2 = DF1[611:]
DF2

,CREATION DATE,STATUS,NUMBER OF POTHOLES FILLED ON BLOCK,MOST RECENT ACTION
210159,2011-01-01,Completed,0.0,Completed
93249,2011-01-01,Completed,5.0,Pothole Patched
233031,2011-01-01,Completed,3.0,Pothole Patched
311002,2011-01-01,Completed,12.0,Pothole Patched
176539,2011-01-01,Completed,87.0,Pothole Patched
...,...,...,...,...
367913,2018-12-18,Open,NaN,NaN
246130,2018-12-18,Open,NaN,NaN
243240,2018-12-18,Open,NaN,NaN
239436,2018-12-18,Open,NaN,NaN
286385,2018-12-18,Open,NaN,NaN

## III.Pothole 발생 데이터만 걸러내기

### 1)Status(상태)가 Completed(완료)로 되어 있는 데이터만 추출

In [ ]:
DF3 = DF2[(DF.STATUS == 'Completed')] 
DF3

,CREATION DATE,STATUS,NUMBER OF POTHOLES FILLED ON BLOCK,MOST RECENT ACTION
93249,2011-01-01,Completed,5.0,Pothole Patched
233031,2011-01-01,Completed,3.0,Pothole Patched
311002,2011-01-01,Completed,12.0,Pothole Patched
176539,2011-01-01,Completed,87.0,Pothole Patched
466015,2011-01-01,Completed,2.0,Pothole Patched
...,...,...,...,...
555973,2018-12-14,Completed,26.0,Pothole Patched
423361,2018-12-14,Completed,3.0,Pothole Patched
520202,2018-12-15,Completed,4.0,Pothole Patched
105620,2018-12-15,Completed,17.0,Pothole Patched
200736,2018-12-17,Completed,7.0,Pothole Patched

### 2)NUMBER OF POTHOLES FILLED ON BLOCK(포트홀 개수)가 0 이 아닌 데이터만 추출

In [ ]:
DF4 = DF3[DF2['NUMBER OF POTHOLES FILLED ON BLOCK'] != 0]
DF4

,CREATION DATE,STATUS,NUMBER OF POTHOLES FILLED ON BLOCK,MOST RECENT ACTION
93249,2011-01-01,Completed,5.0,Pothole Patched
233031,2011-01-01,Completed,3.0,Pothole Patched
311002,2011-01-01,Completed,12.0,Pothole Patched
176539,2011-01-01,Completed,87.0,Pothole Patched
466015,2011-01-01,Completed,2.0,Pothole Patched
...,...,...,...,...
555973,2018-12-14,Completed,26.0,Pothole Patched
423361,2018-12-14,Completed,3.0,Pothole Patched
520202,2018-12-15,Completed,4.0,Pothole Patched
105620,2018-12-15,Completed,17.0,Pothole Patched
200736,2018-12-17,Completed,7.0,Pothole Patched

### 3)결측치 데이터들 제거한다

In [ ]:
DF5 = DF4.dropna(subset = ['NUMBER OF POTHOLES FILLED ON BLOCK'], how = 'any', axis = 0)
DF5

,CREATION DATE,STATUS,NUMBER OF POTHOLES FILLED ON BLOCK,MOST RECENT ACTION
93249,2011-01-01,Completed,5.0,Pothole Patched
233031,2011-01-01,Completed,3.0,Pothole Patched
311002,2011-01-01,Completed,12.0,Pothole Patched
176539,2011-01-01,Completed,87.0,Pothole Patched
466015,2011-01-01,Completed,2.0,Pothole Patched
...,...,...,...,...
555973,2018-12-14,Completed,26.0,Pothole Patched
423361,2018-12-14,Completed,3.0,Pothole Patched
520202,2018-12-15,Completed,4.0,Pothole Patched
105620,2018-12-15,Completed,17.0,Pothole Patched
200736,2018-12-17,Completed,7.0,Pothole Patched

### 4)신고 접수 데이터중 포트홀 관련 신고였던 데이터만 추출

- 가장 최근 대응의 종류를 확인한다

In [ ]:
DF5.groupby('MOST RECENT ACTION').size()

MOST RECENT ACTION
 No Problem Found                                                 23
CDOT Alley Grading - Unimproved Transfer Outcome                  77
CDOT Alley Pot Hole Transfer Outcome                             124
CDOT Asphalt Top Off Restoration Transfer Outcome                  2
CDOT Inspect Public Way Survey Transfer Outcome                   14
CDOT Pavement Buckle or Speed Hump Transfer Outcome                9
CDOT Pavement Cave-In Survey Transfer Outcome                    216
CDOT Street Cut Complaints Transfer Outcome                      314
Complete Upon Arrival                                             44
Completed                                                         73
Completed Upon Arrival                                            66
Create Work Order                                                 11
GAS Peoples Gas Transfer Outcome                                   2
No Action - See Remarks in Description                             3
No Potholes Found                                                 97
No Problem Found                                                   2
No Such Address Found                                              2
No Survey Required                                                 1
Owner's Responsibility                                             3
Pothole Patched                                               313593
Private Property - Owner's Responsibility                         15
Street Resurfaced                                                 30
Survey Completed - No Citation Issued                              1
WM CDOT Recommended Restoration Transfer Outcome                   1
WM Sewer Cave In Inspection Transfer Outcome                     154
WM Water Management General Investigation Transfer Outcome         2
dtype: int64

- 포트홀 복구 데이터 2개와 개인 사유지 포트홀 데이터 2개를 추출한다

In [ ]:
DF6 = DF5[DF5['MOST RECENT ACTION'] == 'Pothole Patched']
DF7 = DF5[DF5['MOST RECENT ACTION'] == 'Street Resurfaced']
DF8 = DF5[DF5['MOST RECENT ACTION'] == "Owner's Responsibility"]
DF9 = DF5[DF5['MOST RECENT ACTION'] == "Private Property - Owner's Responsibility"] 
DF10 = pd.concat([DF6,DF7,DF8,DF9])
DF10

,CREATION DATE,STATUS,NUMBER OF POTHOLES FILLED ON BLOCK,MOST RECENT ACTION
93249,2011-01-01,Completed,5.0,Pothole Patched
233031,2011-01-01,Completed,3.0,Pothole Patched
311002,2011-01-01,Completed,12.0,Pothole Patched
176539,2011-01-01,Completed,87.0,Pothole Patched
466015,2011-01-01,Completed,2.0,Pothole Patched
...,...,...,...,...
465167,2016-03-11,Completed,10.0,Private Property - Owner's Responsibility
479861,2016-06-15,Completed,58.0,Private Property - Owner's Responsibility
245368,2017-04-24,Completed,8.0,Private Property - Owner's Responsibility
244941,2018-03-16,Completed,20.0,Private Property - Owner's Responsibility
343741,2018-03-28,Completed,25.0,Private Property - Owner's Responsibility

## IV.하루 포트홀 건수 취합

### 1)한 블럭에서 발생한 모든 포트홀을 한 건수로 만든다

In [ ]:
DF10['NUMBER OF POTHOLES FILLED ON BLOCK'] = 1
DF10

,CREATION DATE,STATUS,NUMBER OF POTHOLES FILLED ON BLOCK,MOST RECENT ACTION
93249,2011-01-01,Completed,1,Pothole Patched
233031,2011-01-01,Completed,1,Pothole Patched
311002,2011-01-01,Completed,1,Pothole Patched
176539,2011-01-01,Completed,1,Pothole Patched
466015,2011-01-01,Completed,1,Pothole Patched
...,...,...,...,...
465167,2016-03-11,Completed,1,Private Property - Owner's Responsibility
479861,2016-06-15,Completed,1,Private Property - Owner's Responsibility
245368,2017-04-24,Completed,1,Private Property - Owner's Responsibility
244941,2018-03-16,Completed,1,Private Property - Owner's Responsibility
343741,2018-03-28,Completed,1,Private Property - Owner's Responsibility

### 2)하루동안 신고된 포트홀 개수를 다 합쳐준다

In [ ]:
DF11 = DF10.groupby(['CREATION DATE']).agg({"NUMBER OF POTHOLES FILLED ON BLOCK": "sum"})
DF11

     CREATION DATE  NUMBER OF POTHOLES FILLED ON BLOCK
0       2011-01-01                                  39
1       2011-01-02                                  25
2       2011-01-03                                 253
3       2011-01-04                                 303
4       2011-01-05                                 319
...            ...                                 ...
2902    2018-12-12                                  21
2903    2018-12-13                                  29
2904    2018-12-14                                   3
2905    2018-12-15                                   2
2906    2018-12-17                                   1

[2907 rows x 2 columns]

### 3)하루 포트홀 개수를 새로운 행으로 만들어 준다

In [ ]:
DF = DF11.reset_index()
DF

     CREATION DATE  NUMBER OF POTHOLES FILLED ON BLOCK
0       2011-01-01                                  39
1       2011-01-02                                  25
2       2011-01-03                                 253
3       2011-01-04                                 303
4       2011-01-05                                 319
...            ...                                 ...
2902    2018-12-12                                  21
2903    2018-12-13                                  29
2904    2018-12-14                                   3
2905    2018-12-15                                   2
2906    2018-12-17                                   1

[2907 rows x 2 columns]

# 시카고 날씨 데이터

## I. 구글 마운트

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
dir = '/content/drive/My Drive/Colab Notebooks/datasets/weather/시카고'

!ls -l '/content/drive/My Drive/Colab Notebooks/datasets/weather/시카고'

total 1667
-rw------- 1 root root  55115 Nov  2 08:28  Chicago_Pothole.csv
-rw------- 1 root root  54117 Nov  1 11:22 'Chicago_Pothole(-).csv'
-rw------- 1 root root 197203 Oct 25 01:12  Chicago_Pothole_Weather_2011_2018.csv
-rw------- 1 root root 181004 Oct 24 01:17  Chicago_Weather_2011_2018.csv
-rw------- 1 root root 268714 Nov  1 05:33 'Chicago_Weather_2011_2018(+).csv'
-rw------- 1 root root 220602 Oct 21 05:13 'Copy of Chicago,United States 2011-01-01 to 2012-12-31.csv'
-rw------- 1 root root 222468 Oct 21 05:13 'Copy of Chicago,United States 2013-01-01 to 2014-12-31.csv'
-rw------- 1 root root 221163 Oct 21 05:13 'Copy of Chicago,United States 2015-01-01 to 2016-12-31.csv'
-rw------- 1 root root 229330 Oct 21 05:13 'Copy of Chicago,United States 2017-01-01 to 2018-12-31.csv'
-rw------- 1 root root  55507 Oct 24 05:28  df1.csv

## II. csv 파일 불러오기

In [ ]:
import pandas as pd

DF1 = pd.read_csv(dir +'/Copy of Chicago,United States 2011-01-01 to 2012-12-31.csv')
DF2 = pd.read_csv(dir +'/Copy of Chicago,United States 2013-01-01 to 2014-12-31.csv')
DF3 = pd.read_csv(dir +'/Copy of Chicago,United States 2015-01-01 to 2016-12-31.csv')
DF4 = pd.read_csv(dir +'/Copy of Chicago,United States 2017-01-01 to 2018-12-31.csv')
DF = pd.concat([DF1, DF2, DF3, DF4])
DF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2922 entries, 0 to 729
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              2922 non-null   object
 1   datetime          2922 non-null   object
 2   tempmax           2922 non-null   float64
 3   tempmin           2922 non-null   float64
 4   temp              2922 non-null   float64
 5   feelslikemax      2922 non-null   float64
 6   feelslikemin      2922 non-null   float64
 7   feelslike         2922 non-null   float64
 8   dew               2922 non-null   float64
 9   humidity          2922 non-null   float64
 10  precip            2922 non-null   float64
 11  precipprob        2922 non-null   int64
 12  precipcover       2922 non-null   float64
 13  preciptype        1276 non-null   object
 14  snow              730 non-null    float64
 15  snowdepth         1039 non-null   float64
 16  windgust          2384 non-null   float64
 17  windspeed         2922 non-null   float64
 18  winddir           2922 non-null   float64
 19  sealevelpressure  2922 non-null   float64
 20  cloudcover        2922 non-null   float64
 21  visibility        2922 non-null   float64
 22  solarradiation    2922 non-null   float64
 23  solarenergy       2922 non-null   float64
 24  uvindex           2922 non-null   int64
 25  severerisk        0 non-null      float64
 26  sunrise           2922 non-null   object
 27  sunset            2922 non-null   object
 28  moonphase         2922 non-null   float64
 29  conditions        2922 non-null   object
 30  description       2922 non-null   object
 31  icon              2922 non-null   object
 32  stations          2922 non-null   object
dtypes: float64(22), int64(2), object(9)
memory usage: 776.2+ KB

## III. 데이터 병합

In [ ]:
DF = pd.concat([DF1, DF2, DF3, DF4])

- 데이터 타입 및 결측치 값 확인

In [ ]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2922 entries, 0 to 729
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              2922 non-null   object
 1   datetime          2922 non-null   object
 2   tempmax           2922 non-null   float64
 3   tempmin           2922 non-null   float64
 4   temp              2922 non-null   float64
 5   feelslikemax      2922 non-null   float64
 6   feelslikemin      2922 non-null   float64
 7   feelslike         2922 non-null   float64
 8   dew               2922 non-null   float64
 9   humidity          2922 non-null   float64
 10  precip            2922 non-null   float64
 11  precipprob        2922 non-null   int64
 12  precipcover       2922 non-null   float64
 13  preciptype        1276 non-null   object
 14  snow              730 non-null    float64
 15  snowdepth         1039 non-null   float64
 16  windgust          2384 non-null   float64
 17  windspeed         2922 non-null   float64
 18  winddir           2922 non-null   float64
 19  sealevelpressure  2922 non-null   float64
 20  cloudcover        2922 non-null   float64
 21  visibility        2922 non-null   float64
 22  solarradiation    2922 non-null   float64
 23  solarenergy       2922 non-null   float64
 24  uvindex           2922 non-null   int64
 25  severerisk        0 non-null      float64
 26  sunrise           2922 non-null   object
 27  sunset            2922 non-null   object
 28  moonphase         2922 non-null   float64
 29  conditions        2922 non-null   object
 30  description       2922 non-null   object
 31  icon              2922 non-null   object
 32  stations          2922 non-null   object
dtypes: float64(22), int64(2), object(9)
memory usage: 776.2+ KB

## IV. 필요한 columns 만 불러오기

In [ ]:
DF_x = DF[['datetime','tempmax','tempmin','temp', 'humidity','precip','snowdepth','solarenergy','icon', 'dew', 'precipcover', 'windspeed', 'solarradiation']]
DF_x

,datetime,tempmax,tempmin,temp,humidity,precip,snowdepth,solarenergy,icon,dew,precipcover,windspeed,solarradiation
0,2011-01-01,8.1,-9.2,-3.7,58.9,1.38,NaN,8.3,rain,-10.6,4.17,39.1,96.2
1,2011-01-02,-4.0,-10.8,-7.2,59.2,0.00,NaN,9.4,clear-day,-14.0,0.00,29.1,109.2
2,2011-01-03,2.0,-5.8,-1.8,62.0,0.00,NaN,7.6,partly-cloudy-day,-8.3,0.00,19.3,88.0
3,2011-01-04,-0.6,-9.2,-5.0,66.7,0.00,NaN,9.1,partly-cloudy-day,-10.3,0.00,23.5,106.5
4,2011-01-05,-0.4,-11.4,-5.8,66.1,0.00,NaN,6.0,partly-cloudy-day,-11.2,0.00,19.1,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,2018-12-27,11.8,4.4,7.5,82.0,14.14,0.0,0.7,rain,4.5,45.83,34.9,8.4
726,2018-12-28,11.9,-1.0,3.1,83.0,0.58,0.2,1.9,snow,0.5,16.67,38.0,22.7
727,2018-12-29,-1.2,-4.1,-1.9,86.3,0.63,0.7,0.8,snow,-3.9,29.17,25.7,10.4
728,2018-12-30,2.5,-6.4,-2.1,72.8,0.00,0.1,7.0,partly-cloudy-day,-6.4,0.00,27.8,79.5
729,2018-12-31,4.5,0.4,2.6,89.9,18.36,0.0,0.8,rain,1.1,66.67,31.5,9.6

## V. NaN 데이터 0.0으로 바꿔주기

In [ ]:
DF_x = DF_x.fillna(0.0)
DF_x

,datetime,tempmax,tempmin,temp,humidity,precip,snowdepth,solarenergy,icon,dew,precipcover,windspeed,solarradiation
0,2011-01-01,8.1,-9.2,-3.7,58.9,1.38,0.0,8.3,rain,-10.6,4.17,39.1,96.2
1,2011-01-02,-4.0,-10.8,-7.2,59.2,0.00,0.0,9.4,clear-day,-14.0,0.00,29.1,109.2
2,2011-01-03,2.0,-5.8,-1.8,62.0,0.00,0.0,7.6,partly-cloudy-day,-8.3,0.00,19.3,88.0
3,2011-01-04,-0.6,-9.2,-5.0,66.7,0.00,0.0,9.1,partly-cloudy-day,-10.3,0.00,23.5,106.5
4,2011-01-05,-0.4,-11.4,-5.8,66.1,0.00,0.0,6.0,partly-cloudy-day,-11.2,0.00,19.1,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,2018-12-27,11.8,4.4,7.5,82.0,14.14,0.0,0.7,rain,4.5,45.83,34.9,8.4
726,2018-12-28,11.9,-1.0,3.1,83.0,0.58,0.2,1.9,snow,0.5,16.67,38.0,22.7
727,2018-12-29,-1.2,-4.1,-1.9,86.3,0.63,0.7,0.8,snow,-3.9,29.17,25.7,10.4
728,2018-12-30,2.5,-6.4,-2.1,72.8,0.00,0.1,7.0,partly-cloudy-day,-6.4,0.00,27.8,79.5
729,2018-12-31,4.5,0.4,2.6,89.9,18.36,0.0,0.8,rain,1.1,66.67,31.5,9.6

# 공휴일 데이터 만들기

## VI. 주중 & 주말 표시하는 column 만들기

In [ ]:
from datetime import datetime, date

for j in DF_x['datetime']:
  #print(j)
  i = j.replace('-', ' ')
  d = int(i[:4]), int(i[5:7]), int(i[8:10])
  weekend = date(int(i[:4]), int(i[5:7]), int(i[8:10])).weekday()
  #print(weekend)
  if weekend <= 4:
    DF_x.loc[DF_x['datetime'] == j, 'holiday'] = 'no'
  elif weekend > 4:
    DF_x.loc[DF_x['datetime'] == j, 'holiday'] = 'yes'

DF_x

,datetime,tempmax,tempmin,temp,humidity,precip,snowdepth,solarenergy,icon,dew,precipcover,windspeed,solarradiation,holiday
0,2011-01-01,8.1,-9.2,-3.7,58.9,1.38,0.0,8.3,rain,-10.6,4.17,39.1,96.2,yes
1,2011-01-02,-4.0,-10.8,-7.2,59.2,0.00,0.0,9.4,clear-day,-14.0,0.00,29.1,109.2,yes
2,2011-01-03,2.0,-5.8,-1.8,62.0,0.00,0.0,7.6,partly-cloudy-day,-8.3,0.00,19.3,88.0,no
3,2011-01-04,-0.6,-9.2,-5.0,66.7,0.00,0.0,9.1,partly-cloudy-day,-10.3,0.00,23.5,106.5,no
4,2011-01-05,-0.4,-11.4,-5.8,66.1,0.00,0.0,6.0,partly-cloudy-day,-11.2,0.00,19.1,68.7,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,2018-12-27,11.8,4.4,7.5,82.0,14.14,0.0,0.7,rain,4.5,45.83,34.9,8.4,no
726,2018-12-28,11.9,-1.0,3.1,83.0,0.58,0.2,1.9,snow,0.5,16.67,38.0,22.7,no
727,2018-12-29,-1.2,-4.1,-1.9,86.3,0.63,0.7,0.8,snow,-3.9,29.17,25.7,10.4,yes
728,2018-12-30,2.5,-6.4,-2.1,72.8,0.00,0.1,7.0,partly-cloudy-day,-6.4,0.00,27.8,79.5,yes
729,2018-12-31,4.5,0.4,2.6,89.9,18.36,0.0,0.8,rain,1.1,66.67,31.5,9.6,no

## VII. 미국 공휴일 확인

In [ ]:
import holidays

for date in holidays.UnitedStates(years = 2011).items():
    print(date)

(datetime.date(2011, 1, 1), "New Year's Day")
(datetime.date(2011, 1, 17), 'Martin Luther King Jr. Day')
(datetime.date(2011, 2, 21), "Washington's Birthday")
(datetime.date(2011, 5, 30), 'Memorial Day')
(datetime.date(2011, 7, 4), 'Independence Day')
(datetime.date(2011, 9, 5), 'Labor Day')
(datetime.date(2011, 10, 10), 'Columbus Day')
(datetime.date(2011, 11, 11), 'Veterans Day')
(datetime.date(2011, 11, 24), 'Thanksgiving')
(datetime.date(2011, 12, 25), 'Christmas Day')
(datetime.date(2011, 12, 26), 'Christmas Day (Observed)')

In [ ]:
import holidays
years = [2011,2012,2013,2014,2015,2016,2017,2018]
us_holidays = []
for y in years:
  for date in holidays.UnitedStates(years = y).items():
    us_holidays.append(str(date[0]))
  
print(us_holidays)

['2011-01-01', '2011-01-17', '2011-02-21', '2011-05-30', '2011-07-04', '2011-09-05', '2011-10-10', '2011-11-11', '2011-11-24', '2011-12-25', '2011-12-26', '2012-01-01', '2012-01-02', '2012-01-16', '2012-02-20', '2012-05-28', '2012-07-04', '2012-09-03', '2012-10-08', '2012-11-11', '2012-11-12', '2012-11-22', '2012-12-25', '2013-01-01', '2013-01-21', '2013-02-18', '2013-05-27', '2013-07-04', '2013-09-02', '2013-10-14', '2013-11-11', '2013-11-28', '2013-12-25', '2014-01-01', '2014-01-20', '2014-02-17', '2014-05-26', '2014-07-04', '2014-09-01', '2014-10-13', '2014-11-11', '2014-11-27', '2014-12-25', '2015-01-01', '2015-01-19', '2015-02-16', '2015-05-25', '2015-07-04', '2015-07-03', '2015-09-07', '2015-10-12', '2015-11-11', '2015-11-26', '2015-12-25', '2016-01-01', '2016-01-18', '2016-02-15', '2016-05-30', '2016-07-04', '2016-09-05', '2016-10-10', '2016-11-11', '2016-11-24', '2016-12-25', '2016-12-26', '2017-01-01', '2017-01-02', '2017-01-16', '2017-02-20', '2017-05-29', '2017-07-04', '2017-09-04', '2017-10-09', '2017-11-11', '2017-11-10', '2017-11-23', '2017-12-25', '2018-01-01', '2018-01-15', '2018-02-19', '2018-05-28', '2018-07-04', '2018-09-03', '2018-10-08', '2018-11-11', '2018-11-12', '2018-11-22', '2018-12-25']

## VIII. 미국 공휴일 holiday column에 표시하기

In [ ]:
for h in us_holidays:
  for j in DF_x['datetime']:
    if h == j:
      DF_x.loc[DF_x['datetime'] == j, 'holiday'] = 'yes'

DF_x[12:19]

,datetime,tempmax,tempmin,temp,humidity,precip,snowdepth,solarenergy,icon,dew,precipcover,windspeed,solarradiation,holiday
12,2011-01-13,-4.2,-8.9,-5.9,74.8,0.00,6.3,4.0,cloudy,-9.7,0.00,16.9,46.9,no
13,2011-01-14,-3.3,-8.3,-6.0,74.1,0.00,5.0,6.6,cloudy,-9.9,0.00,16.2,76.7,no
14,2011-01-15,-3.5,-7.9,-5.2,68.9,0.07,4.6,5.7,snow,-10.1,4.17,26.1,68.0,yes
15,2011-01-16,-5.3,-12.6,-8.1,70.3,0.00,3.9,6.6,partly-cloudy-day,-12.5,0.00,14.1,77.6,yes
16,2011-01-17,1.3,-7.1,-3.0,76.7,2.93,5.0,3.8,rain,-6.6,50.00,27.2,43.2,yes
17,2011-01-18,1.1,-5.0,-1.8,85.0,1.79,3.5,4.9,rain,-4.0,29.17,29.4,57.7,no
18,2011-01-19,-4.2,-8.5,-6.5,68.6,0.00,3.5,6.3,partly-cloudy-day,-11.4,0.00,19.5,73.3,no

# 데이터 병합

## I. 구글 마운트

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

## II. csv 파일 불러오기

In [ ]:
dir = '/content/drive/My Drive/Colab Notebooks/datasets/weather/시카고'

!ls -l '/content/drive/My Drive/Colab Notebooks/datasets/weather/시카고'

total 1667
-rw------- 1 root root  55115 Nov  2 08:28  Chicago_Pothole.csv
-rw------- 1 root root  54117 Nov  1 11:22 'Chicago_Pothole(-).csv'
-rw------- 1 root root 197203 Oct 25 01:12  Chicago_Pothole_Weather_2011_2018.csv
-rw------- 1 root root 181004 Oct 24 01:17  Chicago_Weather_2011_2018.csv
-rw------- 1 root root 268714 Nov  1 05:33 'Chicago_Weather_2011_2018(+).csv'
-rw------- 1 root root 220602 Oct 21 05:13 'Copy of Chicago,United States 2011-01-01 to 2012-12-31.csv'
-rw------- 1 root root 222468 Oct 21 05:13 'Copy of Chicago,United States 2013-01-01 to 2014-12-31.csv'
-rw------- 1 root root 221163 Oct 21 05:13 'Copy of Chicago,United States 2015-01-01 to 2016-12-31.csv'
-rw------- 1 root root 229330 Oct 21 05:13 'Copy of Chicago,United States 2017-01-01 to 2018-12-31.csv'
-rw------- 1 root root  55507 Oct 24 05:28  df1.csv

In [ ]:
import pandas as pd

DF1 = pd.read_csv(dir +'/Chicago_Weather_2011_2018(+).csv')
DF2 = pd.read_csv(dir +'/Chicago_Pothole.csv')

,CREATION DATE,tempmax,tempmin,temp,humidity,precip,snowdepth,solarenergy,icon,feelslike,feelslikemin,dew,precipcover,windspeed,solarradiation,holiday,NUMBER OF POTHOLES FILLED ON BLOCK
0,2011-01-01,8.1,-9.2,-3.7,58.9,1.38,0.0,8.3,rain,-11.3,-18.2,-10.6,4.17,39.1,96.2,yes,39.0
1,2011-01-02,-4.0,-10.8,-7.2,59.2,0.00,0.0,9.4,clear-day,-13.9,-18.9,-14.0,0.00,29.1,109.2,yes,25.0
2,2011-01-03,2.0,-5.8,-1.8,62.0,0.00,0.0,7.6,partly-cloudy-day,-5.9,-11.3,-8.3,0.00,19.3,88.0,no,253.0
3,2011-01-04,-0.6,-9.2,-5.0,66.7,0.00,0.0,9.1,partly-cloudy-day,-10.9,-15.1,-10.3,0.00,23.5,106.5,no,303.0
4,2011-01-05,-0.4,-11.4,-5.8,66.1,0.00,0.0,6.0,partly-cloudy-day,-9.8,-16.1,-11.2,0.00,19.1,68.7,no,319.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,2018-12-27,11.8,4.4,7.5,82.0,14.14,0.0,0.7,rain,4.3,-0.5,4.5,45.83,34.9,8.4,no,0.0
2918,2018-12-28,11.9,-1.0,3.1,83.0,0.58,0.2,1.9,snow,-1.6,-7.3,0.5,16.67,38.0,22.7,no,0.0
2919,2018-12-29,-1.2,-4.1,-1.9,86.3,0.63,0.7,0.8,snow,-5.8,-11.3,-3.9,29.17,25.7,10.4,yes,0.0
2920,2018-12-30,2.5,-6.4,-2.1,72.8,0.00,0.1,7.0,partly-cloudy-day,-7.6,-12.4,-6.4,0.00,27.8,79.5,yes,0.0
2921,2018-12-31,4.5,0.4,2.6,89.9,18.36,0.0,0.8,rain,-0.9,-3.4,1.1,66.67,31.5,9.6,no,0.0

In [ ]:
DF1

,Unnamed: 0,datetime,tempmax,tempmin,temp,humidity,precip,snowdepth,solarenergy,icon,feelslike,feelslikemin,dew,precipcover,windspeed,solarradiation,holiday
0,0,2011-01-01,8.1,-9.2,-3.7,58.9,1.38,0.0,8.3,rain,-11.3,-18.2,-10.6,4.17,39.1,96.2,yes
1,1,2011-01-02,-4.0,-10.8,-7.2,59.2,0.00,0.0,9.4,clear-day,-13.9,-18.9,-14.0,0.00,29.1,109.2,yes
2,2,2011-01-03,2.0,-5.8,-1.8,62.0,0.00,0.0,7.6,partly-cloudy-day,-5.9,-11.3,-8.3,0.00,19.3,88.0,no
3,3,2011-01-04,-0.6,-9.2,-5.0,66.7,0.00,0.0,9.1,partly-cloudy-day,-10.9,-15.1,-10.3,0.00,23.5,106.5,no
4,4,2011-01-05,-0.4,-11.4,-5.8,66.1,0.00,0.0,6.0,partly-cloudy-day,-9.8,-16.1,-11.2,0.00,19.1,68.7,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,725,2018-12-27,11.8,4.4,7.5,82.0,14.14,0.0,0.7,rain,4.3,-0.5,4.5,45.83,34.9,8.4,no
2918,726,2018-12-28,11.9,-1.0,3.1,83.0,0.58,0.2,1.9,snow,-1.6,-7.3,0.5,16.67,38.0,22.7,no
2919,727,2018-12-29,-1.2,-4.1,-1.9,86.3,0.63,0.7,0.8,snow,-5.8,-11.3,-3.9,29.17,25.7,10.4,yes
2920,728,2018-12-30,2.5,-6.4,-2.1,72.8,0.00,0.1,7.0,partly-cloudy-day,-7.6,-12.4,-6.4,0.00,27.8,79.5,yes
2921,729,2018-12-31,4.5,0.4,2.6,89.9,18.36,0.0,0.8,rain,-0.9,-3.4,1.1,66.67,31.5,9.6,no

In [ ]:
DF2

      Unnamed: 0 CREATION DATE  NUMBER OF POTHOLES FILLED ON BLOCK
0              0    2011-01-01                                  39
1              1    2011-01-02                                  25
2              2    2011-01-03                                 254
3              3    2011-01-04                                 301
4              4    2011-01-05                                 316
...          ...           ...                                 ...
2896        2896    2018-12-11                                  12
2897        2897    2018-12-12                                   7
2898        2898    2018-12-13                                  19
2899        2899    2018-12-14                                   2
2900        2900    2018-12-15                                   1

[2901 rows x 3 columns]

- 불필요 열 제거

In [ ]:
DF1.drop(['Unnamed: 0'], axis = 1, inplace = True)
DF1

,datetime,tempmax,tempmin,temp,humidity,precip,snowdepth,solarenergy,icon,feelslike,feelslikemin,dew,precipcover,windspeed,solarradiation,holiday
0,2011-01-01,8.1,-9.2,-3.7,58.9,1.38,0.0,8.3,rain,-11.3,-18.2,-10.6,4.17,39.1,96.2,yes
1,2011-01-02,-4.0,-10.8,-7.2,59.2,0.00,0.0,9.4,clear-day,-13.9,-18.9,-14.0,0.00,29.1,109.2,yes
2,2011-01-03,2.0,-5.8,-1.8,62.0,0.00,0.0,7.6,partly-cloudy-day,-5.9,-11.3,-8.3,0.00,19.3,88.0,no
3,2011-01-04,-0.6,-9.2,-5.0,66.7,0.00,0.0,9.1,partly-cloudy-day,-10.9,-15.1,-10.3,0.00,23.5,106.5,no
4,2011-01-05,-0.4,-11.4,-5.8,66.1,0.00,0.0,6.0,partly-cloudy-day,-9.8,-16.1,-11.2,0.00,19.1,68.7,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,2018-12-27,11.8,4.4,7.5,82.0,14.14,0.0,0.7,rain,4.3,-0.5,4.5,45.83,34.9,8.4,no
2918,2018-12-28,11.9,-1.0,3.1,83.0,0.58,0.2,1.9,snow,-1.6,-7.3,0.5,16.67,38.0,22.7,no
2919,2018-12-29,-1.2,-4.1,-1.9,86.3,0.63,0.7,0.8,snow,-5.8,-11.3,-3.9,29.17,25.7,10.4,yes
2920,2018-12-30,2.5,-6.4,-2.1,72.8,0.00,0.1,7.0,partly-cloudy-day,-7.6,-12.4,-6.4,0.00,27.8,79.5,yes
2921,2018-12-31,4.5,0.4,2.6,89.9,18.36,0.0,0.8,rain,-0.9,-3.4,1.1,66.67,31.5,9.6,no

In [ ]:
DF2.drop(['Unnamed: 0'], axis = 1, inplace = True)
DF2

     CREATION DATE  NUMBER OF POTHOLES FILLED ON BLOCK
0       2011-01-01                                  39
1       2011-01-02                                  25
2       2011-01-03                                 254
3       2011-01-04                                 301
4       2011-01-05                                 316
...            ...                                 ...
2896    2018-12-11                                  12
2897    2018-12-12                                   7
2898    2018-12-13                                  19
2899    2018-12-14                                   2
2900    2018-12-15                                   1

[2901 rows x 2 columns]

## III. 데이터 병합

- merge의 기준이 될 이름 통합

In [ ]:
DF1.rename(columns={'datetime':'CREATION DATE'}, inplace = True)
DF1

,CREATION DATE,tempmax,tempmin,temp,humidity,precip,snowdepth,solarenergy,icon,feelslike,feelslikemin,dew,precipcover,windspeed,solarradiation,holiday
0,2011-01-01,8.1,-9.2,-3.7,58.9,1.38,0.0,8.3,rain,-11.3,-18.2,-10.6,4.17,39.1,96.2,yes
1,2011-01-02,-4.0,-10.8,-7.2,59.2,0.00,0.0,9.4,clear-day,-13.9,-18.9,-14.0,0.00,29.1,109.2,yes
2,2011-01-03,2.0,-5.8,-1.8,62.0,0.00,0.0,7.6,partly-cloudy-day,-5.9,-11.3,-8.3,0.00,19.3,88.0,no
3,2011-01-04,-0.6,-9.2,-5.0,66.7,0.00,0.0,9.1,partly-cloudy-day,-10.9,-15.1,-10.3,0.00,23.5,106.5,no
4,2011-01-05,-0.4,-11.4,-5.8,66.1,0.00,0.0,6.0,partly-cloudy-day,-9.8,-16.1,-11.2,0.00,19.1,68.7,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,2018-12-27,11.8,4.4,7.5,82.0,14.14,0.0,0.7,rain,4.3,-0.5,4.5,45.83,34.9,8.4,no
2918,2018-12-28,11.9,-1.0,3.1,83.0,0.58,0.2,1.9,snow,-1.6,-7.3,0.5,16.67,38.0,22.7,no
2919,2018-12-29,-1.2,-4.1,-1.9,86.3,0.63,0.7,0.8,snow,-5.8,-11.3,-3.9,29.17,25.7,10.4,yes
2920,2018-12-30,2.5,-6.4,-2.1,72.8,0.00,0.1,7.0,partly-cloudy-day,-7.6,-12.4,-6.4,0.00,27.8,79.5,yes
2921,2018-12-31,4.5,0.4,2.6,89.9,18.36,0.0,0.8,rain,-0.9,-3.4,1.1,66.67,31.5,9.6,no

In [ ]:
DF = pd.merge(DF1, DF2, how = 'left')

- 포트홀 관측 안된 날은 NaN으로 표시되기에 0.0으로 교체

In [ ]:
DF = DF.fillna(0.0)

In [ ]:
DF.tail(20)

,CREATION DATE,tempmax,tempmin,temp,humidity,precip,snowdepth,solarenergy,icon,feelslike,feelslikemin,dew,precipcover,windspeed,solarradiation,holiday,NUMBER OF POTHOLES FILLED ON BLOCK
2902,2018-12-12,5.4,-0.7,2.0,69.8,0.00,0.0,5.6,partly-cloudy-day,-2.2,-4.8,-3.0,0.00,31.4,63.8,no,7.0
2903,2018-12-13,6.5,-3.1,2.0,78.4,4.01,0.0,5.4,rain,0.0,-5.9,-1.5,20.83,17.3,64.3,no,19.0
2904,2018-12-14,5.2,1.6,4.0,95.3,4.08,0.0,1.8,rain,1.3,-1.6,3.3,25.00,15.5,23.0,no,2.0
2905,2018-12-15,8.5,-0.9,2.9,82.2,0.00,0.0,10.1,partly-cloudy-day,-0.1,-3.4,-0.2,0.00,19.9,116.3,yes,1.0
2906,2018-12-16,9.2,-2.2,2.9,80.2,0.00,0.0,5.8,partly-cloudy-day,0.6,-4.1,-0.6,0.00,17.9,67.8,yes,0.0
2907,2018-12-17,4.9,-2.5,1.1,64.5,0.00,0.0,6.1,partly-cloudy-day,-1.8,-4.6,-5.1,0.00,22.5,70.6,no,0.0
2908,2018-12-18,5.8,-5.2,0.5,76.8,0.00,0.0,5.9,partly-cloudy-day,-2.1,-8.2,-3.4,0.00,18.4,67.3,no,0.0
2909,2018-12-19,9.5,1.0,5.4,69.6,0.00,0.0,5.6,partly-cloudy-day,2.0,-2.6,0.3,0.00,24.9,65.0,no,0.0
2910,2018-12-20,8.4,4.1,6.7,87.9,1.06,0.0,1.2,rain,4.4,-0.3,4.8,25.00,22.6,16.1,no,0.0
2911,2018-12-21,4.1,-0.9,1.1,81.8,1.44,0.0,0.9,rain,-4.2,-6.0,-1.7,25.00,30.8,10.5,no,0.0
2912,2018-12-22,1.4,-1.4,-0.2,76.7,0.00,0.0,2.6,cloudy,-3.5,-6.0,-3.8,0.00,17.5,33.3,yes,0.0
2913,2018-12-23,3.6,-0.9,1.2,69.3,0.00,0.0,4.5,cloudy,-3.5,-7.8,-4.1,0.00,35.3,51.0,yes,0.0
2914,2018-12-24,0.9,-4.1,-1.7,61.5,0.00,0.0,6.4,partly-cloudy-day,-5.4,-9.6,-8.2,0.00,24.0,73.3,no,0.0
2915,2018-12-25,7.7,-1.6,2.4,73.7,0.20,0.0,4.1,rain,0.4,-3.7,-2.0,4.17,15.1,48.6,yes,0.0
2916,2018-12-26,8.5,-2.2,3.1,73.1,0.00,0.0,5.9,partly-cloudy-day,1.6,-3.6,-1.6,0.00,21.6,68.5,no,0.0
2917,2018-12-27,11.8,4.4,7.5,82.0,14.14,0.0,0.7,rain,4.3,-0.5,4.5,45.83,34.9,8.4,no,0.0
2918,2018-12-28,11.9,-1.0,3.1,83.0,0.58,0.2,1.9,snow,-1.6,-7.3,0.5,16.67,38.0,22.7,no,0.0
2919,2018-12-29,-1.2,-4.1,-1.9,86.3,0.63,0.7,0.8,snow,-5.8,-11.3,-3.9,29.17,25.7,10.4,yes,0.0
2920,2018-12-30,2.5,-6.4,-2.1,72.8,0.00,0.1,7.0,partly-cloudy-day,-7.6,-12.4,-6.4,0.00,27.8,79.5,yes,0.0
2921,2018-12-31,4.5,0.4,2.6,89.9,18.36,0.0,0.8,rain,-0.9,-3.4,1.1,66.67,31.5,9.6,no,0.0

## IV. 날짜 세부 정보 추출
- 'year', 'month', 'day' 추출

In [ ]:
DF.rename(columns={'CREATION DATE':'datetime'}, inplace = True)

DF['datetime'] = DF.datetime.apply(pd.to_datetime)
DF['year'] = DF.datetime.apply(lambda x : x.year)
DF['month'] = DF.datetime.apply(lambda x : x.month)
DF['day'] = DF.datetime.apply(lambda x : x.day)
DF

,datetime,tempmax,tempmin,temp,humidity,precip,snowdepth,solarenergy,icon,feelslike,feelslikemin,dew,precipcover,windspeed,solarradiation,holiday,NUMBER OF POTHOLES FILLED ON BLOCK,year,month,day
0,2011-01-01,8.1,-9.2,-3.7,58.9,1.38,0.0,8.3,rain,-11.3,-18.2,-10.6,4.17,39.1,96.2,yes,39.0,2011,1,1
1,2011-01-02,-4.0,-10.8,-7.2,59.2,0.00,0.0,9.4,clear-day,-13.9,-18.9,-14.0,0.00,29.1,109.2,yes,25.0,2011,1,2
2,2011-01-03,2.0,-5.8,-1.8,62.0,0.00,0.0,7.6,partly-cloudy-day,-5.9,-11.3,-8.3,0.00,19.3,88.0,no,253.0,2011,1,3
3,2011-01-04,-0.6,-9.2,-5.0,66.7,0.00,0.0,9.1,partly-cloudy-day,-10.9,-15.1,-10.3,0.00,23.5,106.5,no,303.0,2011,1,4
4,2011-01-05,-0.4,-11.4,-5.8,66.1,0.00,0.0,6.0,partly-cloudy-day,-9.8,-16.1,-11.2,0.00,19.1,68.7,no,319.0,2011,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,2018-12-27,11.8,4.4,7.5,82.0,14.14,0.0,0.7,rain,4.3,-0.5,4.5,45.83,34.9,8.4,no,0.0,2018,12,27
2918,2018-12-28,11.9,-1.0,3.1,83.0,0.58,0.2,1.9,snow,-1.6,-7.3,0.5,16.67,38.0,22.7,no,0.0,2018,12,28
2919,2018-12-29,-1.2,-4.1,-1.9,86.3,0.63,0.7,0.8,snow,-5.8,-11.3,-3.9,29.17,25.7,10.4,yes,0.0,2018,12,29
2920,2018-12-30,2.5,-6.4,-2.1,72.8,0.00,0.1,7.0,partly-cloudy-day,-7.6,-12.4,-6.4,0.00,27.8,79.5,yes,0.0,2018,12,30
2921,2018-12-31,4.5,0.4,2.6,89.9,18.36,0.0,0.8,rain,-0.9,-3.4,1.1,66.67,31.5,9.6,no,0.0,2018,12,31

## V. 쉬는날 여부 0 or 1 변환

In [ ]:
DF = DF.replace('yes', 1)
DF = DF.replace('no', 0)

In [ ]:
DF.columns

Index(['datetime', 'tempmax', 'tempmin', 'temp', 'humidity', 'precip',
       'snowdepth', 'solarenergy', 'icon', 'feelslike', 'feelslikemin', 'dew',
       'precipcover', 'windspeed', 'solarradiation', 'holiday',
       'NUMBER OF POTHOLES FILLED ON BLOCK', 'year', 'month', 'day'],
      dtype='object')

## VI. 이름 처리 및 순서 변경

In [ ]:
DF.rename(columns={'NUMBER OF POTHOLES FILLED ON BLOCK':'pothole'}, inplace = True)
DF.rename(columns={'icon':'weather'}, inplace = True)

DF = DF.replace('yes', 1)
DF = DF.replace('no', 0)

DF = DF.replace('clear-day', 1)
DF = DF.replace('partly-cloudy-day', 2)
DF = DF.replace('cloudy', 3)
DF = DF.replace('wind', 4)
DF = DF.replace('rain', 5)
DF = DF.replace('snow', 6)

DF = DF[['datetime','year','month','day','holiday','temp','tempmax','tempmin','humidity','precip',
         'snowdepth','solarenergy','weather', 'dew','precipcover', 'windspeed', 'solarradiation','pothole']]

DF

,datetime,year,month,day,holiday,temp,tempmax,tempmin,humidity,precip,snowdepth,solarenergy,weather,dew,precipcover,windspeed,solarradiation,pothole
0,2011-01-01,2011,1,1,1,-3.7,8.1,-9.2,58.9,1.38,0.0,8.3,5,-10.6,4.17,39.1,96.2,39.0
1,2011-01-02,2011,1,2,1,-7.2,-4.0,-10.8,59.2,0.00,0.0,9.4,1,-14.0,0.00,29.1,109.2,25.0
2,2011-01-03,2011,1,3,0,-1.8,2.0,-5.8,62.0,0.00,0.0,7.6,2,-8.3,0.00,19.3,88.0,253.0
3,2011-01-04,2011,1,4,0,-5.0,-0.6,-9.2,66.7,0.00,0.0,9.1,2,-10.3,0.00,23.5,106.5,303.0
4,2011-01-05,2011,1,5,0,-5.8,-0.4,-11.4,66.1,0.00,0.0,6.0,2,-11.2,0.00,19.1,68.7,319.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,2018-12-27,2018,12,27,0,7.5,11.8,4.4,82.0,14.14,0.0,0.7,5,4.5,45.83,34.9,8.4,0.0
2918,2018-12-28,2018,12,28,0,3.1,11.9,-1.0,83.0,0.58,0.2,1.9,6,0.5,16.67,38.0,22.7,0.0
2919,2018-12-29,2018,12,29,1,-1.9,-1.2,-4.1,86.3,0.63,0.7,0.8,6,-3.9,29.17,25.7,10.4,0.0
2920,2018-12-30,2018,12,30,1,-2.1,2.5,-6.4,72.8,0.00,0.1,7.0,2,-6.4,0.00,27.8,79.5,0.0
2921,2018-12-31,2018,12,31,0,2.6,4.5,0.4,89.9,18.36,0.0,0.8,5,1.1,66.67,31.5,9.6,0.0

In [ ]:
DF

,datetime,year,month,day,holiday,temp,tempmax,tempmin,humidity,precip,snowdepth,solarenergy,weather,dew,precipcover,windspeed,solarradiation,pothole
0,2011-01-01,2011,1,1,1,-3.7,8.1,-9.2,58.9,1.38,0.0,8.3,5,-10.6,4.17,39.1,96.2,39.0
1,2011-01-02,2011,1,2,1,-7.2,-4.0,-10.8,59.2,0.00,0.0,9.4,1,-14.0,0.00,29.1,109.2,25.0
2,2011-01-03,2011,1,3,0,-1.8,2.0,-5.8,62.0,0.00,0.0,7.6,2,-8.3,0.00,19.3,88.0,254.0
3,2011-01-04,2011,1,4,0,-5.0,-0.6,-9.2,66.7,0.00,0.0,9.1,2,-10.3,0.00,23.5,106.5,301.0
4,2011-01-05,2011,1,5,0,-5.8,-0.4,-11.4,66.1,0.00,0.0,6.0,2,-11.2,0.00,19.1,68.7,316.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,2018-12-27,2018,12,27,0,7.5,11.8,4.4,82.0,14.14,0.0,0.7,5,4.5,45.83,34.9,8.4,0.0
2918,2018-12-28,2018,12,28,0,3.1,11.9,-1.0,83.0,0.58,0.2,1.9,6,0.5,16.67,38.0,22.7,0.0
2919,2018-12-29,2018,12,29,1,-1.9,-1.2,-4.1,86.3,0.63,0.7,0.8,6,-3.9,29.17,25.7,10.4,0.0
2920,2018-12-30,2018,12,30,1,-2.1,2.5,-6.4,72.8,0.00,0.1,7.0,2,-6.4,0.00,27.8,79.5,0.0
2921,2018-12-31,2018,12,31,0,2.6,4.5,0.4,89.9,18.36,0.0,0.8,5,1.1,66.67,31.5,9.6,0.0

# 저장

In [ ]:
DF.to_csv('Chicago_Pothole_Weather_2011_2018(+!).csv, index = None')

In [ ]:
DF.to_csv('/content/drive/My Drive/Colab Notebooks/datasets/weather/Chicago_Pothole_Weather_2011_2018(+!).csv')